<div class="columna left">
  <h2>Contacto rápido</h2>
  <form action="/contacto" method="post" class="formulario">
    <p>
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" />
    </p>
    <p>
      <label for="email">Email</label>
      <input type="text" name="email" />
    </p>
    <p>
      <label for="telefono">Telefono</label>
      <input type="text" name="tel" />
    </p>
    <p>
      <label for="mensaje">Mensaje</label>
      <textarea name="mensaje"></textarea>
    </p>
    <p class="acciones"><input type="submit" value="Enviar" /></p>
  </form>
  {{message}}
</div>

<div class="columna right">
  <h2>Otras vias de comunicacion</h2>
  <p>
    Tambien puede contactarse con nosotros usando los siguientes medios:
  </p>
  <ul>
    <li>telefono:4351256</li>
    <li>Email: contacto@transportesx.com.ar</li>
    <li>facebook:</li>
    <li>twitter</li>
    <li>Skype</li>
  </ul>
</div>