<div class="homeimg">
  <img src="images/home/img01.jpg" alt="Avion" />
</div>
<div class="columnas">
  <div class="bienvenidos left">
    <h2>Bienvenidos</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto, unde,
      iure blanditiis non dolores facere sint repudiandae cumque maiores vitae
      voluptatem! Veritatis nulla facilis a praesentium soluta totam id rem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ea iste
      omnis hic saepe repellendus modi porro neque id explicabo! Beatae eveniet
      optio maiores expedita nobis neque consequuntur quam pariatur.
    </p>
  </div>
  <div class="testimonios right">
    <h2>Testimonios</h2>
    <div class="testimonio">
      <span class="cita">Simplemente Excelente</span>
      <span class="autor">Juan Perez - zapatos.com</span>
    </div>
  </div>
</div>