<h2>Novedades</h2>
<div class="novedades">
  <h3>Titulo</h3>
  <h4>subtitulo</h4>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae aliquid
    perspiciatis optio dicta doloribus eaque impedit quos deserunt. Modi saepe
    rem cupiditate consectetur expedita, possimus commodi et. Aut, quos quam!
  </p>
  <hr />
</div>