<h2>Servicios</h2>
<div class="servicio">
  <img src="images/servicios/ferroviario.jpg" alt="Tren" />
  <div class="info">
    <h4>Transporte Ferroviario</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur,
      pariatur ducimus praesentium aliquid ut tempore inventore aperiam eos,
      obcaecati quidem dolorum reprehenderit ab at accusantium ex. Numquam
      laudantium porro nobis.
    </p>
  </div>
</div>
<div class="servicio">
  <img src="images/servicios/aereo.jpg" alt="Tren" />
  <div class="info">
    <h4>Transporte Ferroviario</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur,
      pariatur ducimus praesentium aliquid ut tempore inventore aperiam eos,
      obcaecati quidem dolorum reprehenderit ab at accusantium ex. Numquam
      laudantium porro nobis.
    </p>
  </div>
</div>
<div class="servicio">
  <img src="images/servicios/maritimo.jpg" alt="Tren" />
  <div class="info">
    <h4>Transporte Ferroviario</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur,
      pariatur ducimus praesentium aliquid ut tempore inventore aperiam eos,
      obcaecati quidem dolorum reprehenderit ab at accusantium ex. Numquam
      laudantium porro nobis.
    </p>
  </div>
</div>
<div class="servicio">
  <img src="images/servicios/terrestre.jpg" alt="Tren" />
  <div class="info">
    <h4>Transporte Ferroviario</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur,
      pariatur ducimus praesentium aliquid ut tempore inventore aperiam eos,
      obcaecati quidem dolorum reprehenderit ab at accusantium ex. Numquam
      laudantium porro nobis.
    </p>
  </div>
</div>